.hero{
    background-color: $dark-gray;
    color: white;
    margin-bottom: 80px;

    // .hero__women{
    //     background-image: url("../img/jpg/backgroundWoman.jpg") no-repeat center;
    //     width: 300px;
    //     z-index: 2;
    // }

   
    &__content{
        padding: 172px 0 86px;
    }

    &__title{

    }

    &__link{

    }
}